.mentor-heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .mentor-row {
    max-width: 900px;
    background-color: #eaeaea;
  }
  
  .mentor-card {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .mentor-card-img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin: 20px;
  }
  
  .mentor-card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .mentor-card-description {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 10px;
  }
  
  .list-unstyled {
    padding-left: 0;
    font-size: 0.9rem;
  }