@import './styles/variables.scss';
@import './styles/mixins.scss';

.navbar {
  background-color: $primary-color;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;              // ✅ Make sure it spans full width
    max-width: 1800px;
    margin: auto;
    flex-direction: column; 
    padding: 0.5rem;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: stretch;
      padding: 0.5rem 0;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    margin-left: 1rem;

    .logo-image {
      height: 100px;
      width: auto;
    }

    @media (min-width: 768px) {
        height: 100px;
      }

  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    margin-right: 1rem;
    align-items: center;
    a {
        position: relative;
      @include font-settings($text-light, 1rem);
      @include outline-text($text-light);

      &:hover {
        color: $hover-color;
      }
    }
    #register-button {
    background-color: $shadow1; // Use a color that stands out
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    @include shiny-outline; // Add the shiny outline effect if you want
    
    &:hover {
      transform: translateY(-3px);
      background-color: darken($shadow1, 10%);
    }
    
    &::before {
      display: none; // Remove the outline text effect if it interferes
    }
    
    &::after {
      display: none; // Remove the outline text effect if it interferes
    }
  }
  @media (min-width: 768px) {
        font-size: 1rem;
      }
  }
}