.team-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 2rem;
}

.team-row {
  max-width: 900px;
  background-color: #cacaca;
}

.team-card {
  background-color: #f8f9fa;
  border-radius: 15px;
  overflow: hidden;
}

.team-card-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
  margin: 20px;
}

.team-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.team-card-description {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 10px;
}

.list-unstyled {
  padding-left: 0;
  font-size: 0.9rem;
}