  @import "./styles/variables.scss";
  @import './styles/mixins.scss';
  .team-heading {
    @include font-settings($text-light, 3rem, bold);
    margin-bottom: 3rem;
    text-align: center;
    position: relative;

        &::before {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          width: 100%;
          height: 100%;
          color: transparent;
          text-shadow:
            -1px -1px 0 $text-shadow1,
            1px -1px 0 $text-shadow1,
            -3.5px 1px 0 $text-shadow1,
            1px 1px 0 $text-shadow1;
        }

        &::after {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          color: $text-light;
        }
      }

  .team-row {
    max-width: 1000px;
    margin: 0 auto;
    background: transparent;
  }

  .team-card {
    background-color: black;
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    background-color: $card-bg;
    border-radius: 30px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
    }
  }

  .team-card-img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    @include shiny-outline;
  }

  .team-card-title {
    font-size: 1.75rem;
  @include font-settings($text-blue, 2rem, bold);
  @include outline-text($text-blue, $text-shadow1, 2rem);
    margin-bottom: 0.75rem;
  }

  .team-card-description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    @include font-settings($text-light, 1.2rem,bold);
    @include outline-text($text-light, $text-shadow1, 1.2rem);
  }
  .member-badge {
    display: inline-block; // Let it shrink to content size
    align-self: center; // If it's inside a flexbox, center it
    padding: 1rem 1rem;
    border-radius: 30px;
    background-color: $shadow1;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  // h6{
  //   @include font-settings(black, 1.5rem, bold);
  //   @include outline-text(black, $text-shadow1, 1.5rem);
  // }

  .member-list {
    font-size: 0.95rem;
    @include font-settings($text-light, 1.5rem, bold);
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;

    li {
      color: black;
      
      position: relative;
      @include outline-text($text-light, $text-shadow1, 1rem);

    
    }
  }
